body {
    margin: 0px;
    width: 100%
}

.container {
    display: flex;
    flex-direction: row;
    height: 140vh;
}

.esquerda {
    display: flex;
    flex-direction: column;
    background-color: #2B3031;
    height: 100vh;
    position: sticky;
    top: 0px;
}

.box1 {
    display: flex;  
    flex-direction: row;
    padding: .6em 4em;
    align-items: center;
    height: 4em;
}

.logo {
    margin-right: .5em;
}

.devstore span {
    color: #10EAEA;
    font: 700 1.1em Roboto;
}

.devstore {
    color: white;
    font: 700 1.1em Roboto;
}

.box2 {
    background-color: #262626;
    color: #262626;
    height: 2.6em;
}

.box3 {
    display: flex;
    flex-direction: row;
    padding: .9em 2em;
    align-items: center;
    font: 500 1em Roboto;
    justify-content:space-between;
    width: 11.8em;
}

.gerenciamento {
    color: white;
}

.box4 {
    display: flex;  
    flex-direction: row;
    background-color: #fff;
    padding: .9em 2em;
    font: 600 1em Roboto;
    box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
}

.direita {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;  
    flex-direction: row;
    background-color: #ffffff;
    padding: 1em;
    justify-content: space-between;
    margin: 0em 0em 1em 0em;
    box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
    width: 77.9vw;
}

.cab-esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circulo img {
    position:absolute; 
    top: 15px; 
    left: 19.2em;
}

.perfil {
    margin-right: .6em;
}

.nome {
    font: 500 0.8em Roboto;
    color: #615858;
}

.nome span {
    font: 800 1em Roboto;
    color: #615858;
}

.cab-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recarregar button {
    background-color: #119FDC;
    border-radius: 3em;
    border: none;
    padding: .7em .7em;
    margin-right: .3em;
    cursor: pointer;
}

.sair button {
    background-color: #119FDC;
    border-radius: 3em;
    border: none;
    padding: .7em .7em;
    margin-right: .3em;
    cursor: pointer;
}

.novo-produto {
    display: flex;
    flex-direction: column;
    display: flex;  
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.5em;
    margin: 2em 1.8em;
    box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
    align-items: space-between;
}

.cab-novo-prod {
    display: flex;
    flex-direction: row;
}

.barra {
    padding: 0em .7em;
}

.titulo1 {
    font: 700 1.6em Roboto;
    color: #3C3939;
    padding: 0em 0em 1em 0em;
}

.corpo-novo-prod {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: .3em;
    border: 1px solid #A8A8A8;
    width: 13em;
    height: 2.2em;
    outline: none;
}

.inputs1 {
    display: flex;
    flex-direction: column;
}

.forms1 {
    display: flex;
    flex-direction: row;
    padding: 0em 0em .8em 0em;
}

.form-produto {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 5em;
}

.form-preco-de {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 6.3em;
}

.forms2 {
    display: flex;
    flex-direction: row;
    padding: 0em 0em .8em 0em;
}

.form-categoria {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 4.2em;
}

.form-preco-por {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 5.7em;
}

.forms3 {
    display: flex;
    flex-direction: row;
    padding: 0em 0em .8em 0em;
}

.form-avaliacao {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 4.2em;
}

.form-estoque {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 6.6em;
}

.produto, .preco-de, .categoria, .preco-por, .avaliacao, .estoque, .link-img, .descricao {
    font: 600 .8em Roboto;
    color: #615858;
    margin-right: .3em;
}

.inputs2 {
    display: flex;
    flex-direction: column;
}

.forms4 {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 3.1em;
    padding: 0em 0em .8em 0em;
}

.forms4 input {
    width: 37.8em;
}

.forms5 {
    display: flex;
    flex-direction: row;
    margin: 0em 0em 0em 4.1em;
}

textarea{
    margin-right: 1.5em;
    border-radius: .3em;
    border: 1px solid #A8A8A8;
    outline: none;
}

.cadastrar {
    align-self: flex-end;
}

.cadastrar button {
    padding: .6em 1em;
    border-radius: 1.2em;
    background-color: #119FDC;
    border: none;
    color: white;
    font: 500 .8em Roboto;
    cursor: pointer;
}

.cadastrados {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2em;
    margin: .3em 1.9em;
    box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
    overflow: hidden;
    overflow-y: scroll;
    max-height: 40em;
 
}

.cab-cadastrados {
    display: flex;
    flex-direction: row;
}

.titulo2 {
    font: 700 1.6em Roboto;
    color: #3C3939;
    padding: 0em 0em .7em 0em;
}

table {
    border-collapse: collapse; 
}

.linha-principal {
    background-color: #6CC3DF;;
    color: white;
    font: 500 .8em Roboto;
    height: 4em;
    align-items: center;
}

.linha-branca td{
    background-color: #f5f5f5;
    color: #6D6868;
    font: 500 .8em Roboto;
    text-align: center;
    height: 3em;
}

.linha-cinza td {
    background-color: #fff;
    color: #6D6868;
    font: 500 .8em Roboto;
    text-align: center;
    height: 3em;
}

 td {
    background-color: #f5f5f5;
    color: #6D6868;
    font: 500 .8em Roboto;
    text-align: center;
    height: 4em;
}

.botoes1 button {
    background-color: #565656;
    border: none;
    border-radius: 2em;
    padding: .7em .5em;
    cursor: pointer;
}

.botoes2 button {
    background-color: #565656;
    border: none;
    border-radius: 2em;
    padding: .6em .6em;
    cursor: pointer;
}